%h2 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = devise_error_messages!
  %section.form-group
    = f.label :login
    = f.text_field :login, autofocus: true, class: 'form-control'
  %section.form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control'

  - if devise_mapping.rememberable?
    %section.form-group
      = f.check_box :remember_me
      = f.label :remember_me
  %section.form-group
    = f.submit "Log in", class: 'btn btn-primary'

= render "devise/shared/links"