- if @post.errors.any?
  The form has the following errors:
  %ul
    - @post.errors.full_messages.each do |msg|
      %li= msg

%h2 submit to notreddit
= form_for @post do |f|
  = f.label :title
  = f.text_field :title
  = f.label :text
  = f.text_area :text
  = f.submit 'Submit'