= render @post

.new-comments
  = form_for [@post, @comment] do |f|
    = f.label :body
    = f.text_area :body
    = f.submit 'Save'

- if @comments.any?
  - @comments.each do |comment|
    = comment.user.username
    = comment.body
- else
  No comments yet