%section.row
  = render @post
- if current_user
  %section.row
    %section.post.col-md-10
      = form_for [@post, @comment] do |f|
        .hidden= f.label :body
        = f.text_area :body, size: "80x5"
        %br
        = f.submit 'Save'
%section.row
  %section.post.col-md-10
    - if @comments.any?
      %br
      = render @comments
    - else
      No comments yet