%section.row
  = render @post
- if current_user
  %section.row
    %section.post.col-md-10
      = form_for [@post, @comment] do |f|
        .hidden= f.label :body
        = f.text_area :body, size: "80x5"
        = f.submit 'Save'
%section.row
  %section.post.col-md-10
    - if @comments.any?
      - @comments.each do |comment|
        %p.text-muted.small= "#{comment.user.username} #{time_ago_in_words(comment.created_at)} ago"
        %p= comment.body
    - else
      No comments yet