!!!
%html
  %head
    %title /not/reddit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'header'
    %section.notifications
      %p.bg-success= notice
      %p.bg-danger= alert
    %main.container
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true